/* common css starts here */

/* Common colours */
.text-color {
    color: #073763;
}

.border-blue {
    /* border: 1px solid #61bfb5 !important; */
    /* border: none; */
    /* border-bottom: 1px solid #61bfb5 !important;  */
}

.dark-color {
    color: #292929;
}

#text-indii-blue {
    color: #61bfb5;
    font-weight: bolder !important;
}

#text-indii-dark-blue {
    color: #073763 !important;
    font-weight: bolder !important;
}

.bg-right-container {
    background-color: #F3F3F3;
}

.background-indii-blue {
    background-color: #073763;
}

.background-green {
    background-color: #73ab4e;
}

.background-red {
    background-color: #FF0000;
}

.bg-grey {
    background-color: #EAEAEA;
}

.background-blue {
    background-color: #0070C0;
}

.text-blue {
    color: #0070C0;
}

.text-green {
    color: #73ab4e;
}

.text-red {
    color: #FF0000;
}



/* Message board css */
.employee-message {
    background-color: #73ab4e38;
}

.dimona-message {
    background-color: #FF000038;
}

.indii-message {
    background-color: #0070C038;
}

.required-bg {
    background-color: #FF000015;
}

.table-head-bg {
    background-color: #61bfb5;
    border: #61bfb5;
    color: white;
    font-weight: 700 !important;
}



/* Icons styles */
.banner-style {
    width: 100%;
    height: 100%;
}

.logo {
    width: 102px;
    height: 29px;
}

.login-logo {
    width: 135px;
    height: 40px;
}

.header-icon {
    width: 23px;
    height: 23px;
}

.profile-icon {
    width: 45px;
    height: 45px;
}

.cancel-icon {
    width: 16px;
    height: 16px;
    margin-left: 80px !important;
}

.shortcut-icon {
    width: 35px;
    height: 35px;
}

.dashboard-icon {
    width: 3.5rem;
    height: 8rem;
}

.configuration-icon {
    width: 3.5rem;
    height: 4rem;
}

.box {
    width: 20px;
    height: 20px;
}

.full-page-height {
    height: 100vh;
}

.employee-icon {
    width: 50px;
    height: 50px;
}

.employee-icon-temp {
    width: 80px;
    height: 80px;
}

.photo-update-container {
    position: relative;
    width: 18vh;
    height: 18vh;
}

.photo-icon {
    width: 18vh;
    height: 18vh;
}

.photo-update-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -20%);
    opacity: 0;
    transition: all 0.5s;
    width: 3em;
    height: 3em;
}

.photo-update-container:hover .photo-icon {
    filter: blur(2px) brightness(80%);
}

.photo-update-container:hover .photo-update-icon {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.hide {
    display: none;
}

.employee-detail-height {
    overflow: auto;
    height: 56.5vh;
}

.width-22 {
    width: 22% !important;
}



/* Common styles */
li,
.pointer {
    cursor: pointer;
}

.no-padd {
    padding: 0px !important;
}

.border-bottom-only {
    border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
    border-width: 0px 0px 1px 0px !important;
}

.font-12 {
    font-size: 12px;
}

.font-inherit {
    font-size: inherit;
}

.font-details {
    font-size: 13px;
}


/* Buttons css */
.button-style {
    color: #fff;
    font-weight: 600;
    background-color: #61bfb5;
    border: #61bfb5;
}

/* for add-company form */
.button-confirm {
    color: #fff;
    background-color: #073763;
}

/* Dynamic content part */
.right-container {
    width: 93%;
    display: inline-flex;
    justify-content: center;
    background-color: #F3F3F3;
}

/* Dynamic content part */
.right-creation-container {
    width: 93%;
    /* display: flex; */
    justify-content: center;
    background-color: #F3F3F3;
}


/* Dashboard css */
.display-linebreak {
    white-space: pre-line;
}


/* Navbar css */
.navbar-brand {
    margin-right: 1.8rem !important;
}



/* Sidebar css */
.side-bar {
    min-width: 7% !important;
    min-height: 89.5vh;
    overflow: hidden;
}

.side-bar-open {
    /* position: absolute; */
    background-color: white;
    z-index: 2;
    width: 16%;
    /* transition: right 100s ease-in-out; */
}

.sidebar-moving {
    /* transition: right 100s ease-in-out; */
    animation: mymove 1s alternate;
    /* animation-timing-function: ease-out;
    animation-iteration-count: 1; */
}

@keyframes mymove {
    from {
        margin-left: -100px;
    }

    to {
        margin-left: 2px;
    }
}




/* Language dropdown css */
#language-font {
    font-size: 1.2rem;
    margin-bottom: 6px !important;
}

.language-dropdown div {
    border: 0;
    margin-bottom: 2px;
    font-size: 1.25rem;
}

.language-dropdown div div {
    padding-right: 0 !important;
}

.css-1nmdiq5-menu {
    z-index: 3 !important;
}




/* Content menu css */
.account-menu {
    position: absolute;
    right: 12px;
    top: 75%;
    z-index: 2;
}

.shortcut-menu {
    position: absolute;
    right: 30%;
    top: 75%;
    z-index: 2;
}

.notification-menu {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2;
}




/* Company overview css */

/* React Tabs css*/
.react-tabs__tab-list {
    margin: 0px !important;
    border-bottom: none;
}

.company-tab-width {
    width: 98% !important;
    border-radius: 5px;
}

.react-tabs__tab--selected {
    background: #61bfb5 !important;
}

.react-tabs__tab {
    border: 3px solid #F3F3F3;
    border-width: 0px 1px 0px 1px !important;
    color: black;
    border-radius: 0px;
    bottom: 1px;
    padding: 12px 12px;
    text-align: center;
    width: 12% !important;
}

.react-tabs__tab-panel--selected {
    border: 5px solid #F3F3F3;
    border-width: 3px 0px 0px 0px;
}

.company_creation div ul li {
    width: 20% !important;
}

.employee_creation div ul li {
    width: 25% !important;
}
 
.right-end-tab {
    padding: 0px;
    width: 24% !important;
    padding-left: 4%;
}

.employee-detail div li {
    /* background-color: #fff;
    border-bottom: 1px solid #fff;
    border-width: 0px 0px 3px 0px;
    margin-top: 1px; */
    width: 15% !important;
}

/* .selected_emp_tab{
    border-bottom: 3px solid #61bfb5 !important;
    border-width: 0px 0px 3px 0px;
    margin-top: 1px;
} */



/* Table css */
.MuiTableHead-root,
.MuiToolbar-root {
    z-index: 0 !important;
}

.MuiInput-underline:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.42) !important;
    pointer-events: none;
}

.MuiInput-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 0px solid black !important;
    pointer-events: none;
}

/* .MuiToolbar-gutters {
    padding: 0px !important;
    background-color: #61BFB5;
} */



/* Cards css */
.card:hover {
    box-shadow: 0px 0px 0px grey;
    transform: scale(1.02);
}

.card-body {
    padding: 0rem;
}

.card-height {
    height: fit-content;
}

.card-height div {
    padding: 1.25rem;
}



/* Forms Style */
.form input,
textarea {
    border: 1px solid #61bfb5 !important;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #61bfb5;
    background-color: #61bfb5;
}

.custom-control-input {
    z-index: 999 !important;
    width: 2rem;
}

.custom-control {
    z-index: 0 !important;
}

.list-group-item:hover {
    color: #073763;
    font-weight: bold;
}

.form-container {
    width: 98%;
    border-radius: 5px;
}

.form-subHeading {
    text-decoration: underline;
    color: #073763;
    font-weight: bold;
    font-size: 1.25rem;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
    top: 20px;
}



/* Custom scroll css */
.customscroll,
.tablescroll div div div div {
    top: 0;
    right: 0;
}

.customscroll::-webkit-scrollbar,
.tablescroll div div div div::-webkit-scrollbar {
    width: 10px;
}

.customscroll::-webkit-scrollbar-track,
.tablescroll div div div div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.customscroll::-webkit-scrollbar-thumb,
.tablescroll div div div div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.customscroll::-webkit-scrollbar-thumb:hover,
.tablescroll div div div div::-webkit-scrollbar-thumb:hover {
    background: #073763;
    padding-top: 20px;
}



/* Media query css for bigger screens */
@media screen and (min-width: 1590px) {
    .font-12 {
        font-size: 1rem;
    }

    .card-body {
        padding: 1.25rem;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .dashboard-icon {
        width: 5rem;
        height: 8rem;
    }

    .configuration-icon {
        width: 4rem;
        height: 4rem;
    }

    .side-bar {
        min-height: 91vh !important;
    }

    .font-inherit {
        font-size: 1rem;
    }

    .employee-detail-height {
        overflow: auto;
        height: 65.5vh;
    }

    .font-details {
        font-size: 16px;
    }
}

.border-thick {
    border-bottom: 12px solid #F3F3F3;
}

.my-account-menu {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #292929;

}

.my-account-menu:hover {

    background-color: #79d9cfba;
    color: #fff;
    font-weight: 600;
    border-radius: .5rem;
    transform: translate(-10, -30) scale(1.05, 1.05);
    transition: all .25s;

}

.active-my-account-menu {
    background-color: #61bfb5;
    color: #fff;
    font-weight: 600;
    border-radius: .5rem;
    padding: 1em;
}

.filepond--item-panel {
    border-radius: 10em;
}


.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #003f54;
    background-color: #003f54;
}

.custom-control-input {
    z-index: 999 !important;
    width: 2rem;
}

.custom-control {
    z-index: 0 !important;
}

.custom-switch.custom-switch-lg {
    padding-bottom: 1rem;
    padding-left: 2.25rem;
}

.custom-switch.custom-switch-lg .custom-control-label {
    padding-left: 2.5rem;
    padding-top: 0.5rem;
}

.custom-switch.custom-switch-lg .custom-control-label::before {
    border-radius: 1rem;
    /* height: 2rem;
    width: 4rem; */
    height: 1.5rem;
    width: 3.5rem;
}

.custom-switch.custom-switch-lg .custom-control-label::after {
    border-radius: 1rem;
    /* height: calc(2rem - 4px);
    width: calc(2rem - 4px); */
    height: calc(2rem - 12px);
    width: calc(2.5rem - 20px);
}

.custom-switch.custom-switch-lg .custom-control-input:checked~.custom-control-label::after {
    transform: translateX(2rem);
}

.react-tel-input {
    height: 2.5em !important;
}

.time-picker{
    position: absolute;
    bottom: 70%;
    background-color: white;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}
.ui-timepicker-table {
    display: inline-table;
    width: 0;
}
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-timepicker-table td {
    padding: 0.1em;
    width: 2.2em;
}
.ui-timepicker-hours, .ui-timepicker-minutes {
    padding: 0.2em;
}
.ui-timepicker-table .ui-timepicker-title {
    line-height: 1.8em;
    text-align: center;
}
.ui-widget-header {
    border: 1px solid #61bfb5;
    background: #61bfb5;
    color: black;
    font-weight: bold;
}
.ui-helper-clearfix {
    min-height: 0;
}
.ui-timepicker-table table {
    margin: 0.15em 0 0 0;
    border-collapse: collapse;
}
.ui-timepicker-table th.periods {
    padding: 0.1em;
    width: 2.2em;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #61bfb5;
    background: #61bfb5;
    font-weight: normal;
    color: #fff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #61bfb5;
    background: #E8F8F3;
    font-weight: normal;
    color: #454545;
}
.ui-widget-content {
    border: 1px solid #ddd !important;
    /* background: #E8F8F3;  */
    font-weight: normal;
    color: #454545;
}
.ui-timepicker{
    border: none;
}
.ui-timepicker-table td a {
    display: block;
    padding: 0.2em 0.3em 0.2em 0.5em;
    width: 2.2em;
    cursor: pointer;
    text-align: right;
    text-decoration: none;
}
